<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huicheng.dao.DeliveryDao">

	<!-- 获取所有订单信息 -->
	<select id="getDeliveryInfo" resultType="DeliveryInfo">
		SELECT 
			d.orderNo,
			DATE_FORMAT(d.deliveryDate,'%Y-%m-%d') AS deliveryDate,
			DATE_FORMAT(d.arrivalDate,'%Y-%m-%d') AS arrivalDate,
			DATE_FORMAT(d.receiptDate,'%Y-%m-%d') AS receiptDate,
			d.deliveryNum,d.deliveryMoney,d.returnInfo,
			f.projectName,f.contractNo,f.unitPrice,f.unit,f.customerFullName
		FROM delivery_info d 
		LEFT JOIN order_info f ON f.orderNo = d.orderNo
		WHERE 1=1
		<if test="orderNo != null and orderNo != ''">
			AND d.orderNo like concat('%', #{orderNo}, '%')
		</if>
		LIMIT #{fromIndex}, #{pageSize}
	</select>
	
	<select id="getCountDeliveryInfo" resultType="int">
		SELECT COUNT(1) FROM 
		(SELECT d.orderNo,
			date_format(d.deliveryDate,'%Y-%m-%d') AS deliveryDate
			 FROM delivery_info d 
		LEFT JOIN order_info f ON f.orderNo = d.orderNo
		WHERE 1=1
		<if test="orderNo != null and orderNo != ''">
			AND d.orderNo like concat('%', #{orderNo}, '%')
		</if>
		) temp
	</select>
	
	<insert id="addBillingInfo">
		INSERT INTO billing_info
			(billNo,orderNo,amount,billMoney,billDate,invoiceType,invoiceNum,deliveryMethod,
			address,contacts,telephone,expressNo,mailDate,billCompanyName)
		VALUES 
			(#{billNo},#{orderNo}, #{amount},#{billMoney},#{billDate},#{invoiceType},#{invoiceNum},#{deliveryMethod},
			#{address}, #{contacts},#{telephone}, #{expressNo},#{mailDate},#{billCompanyName})
	</insert>
	
	<insert id="addPaymentInfo">
		INSERT INTO payment_info
			(paymentNo,orderNo,advancePaymentDate,advancePayment,advancePaymentRate)
		VALUES 
		<foreach collection="list" item="item" index="index" separator="," >  
	        (#{item.paymentNo},#{item.orderNo},#{item.advancePaymentDate},#{item.advancePayment},#{item.advancePaymentRate})  
        </foreach>  
	</insert>
	
	<insert id="addDeliveryInfo">
		INSERT INTO delivery_info
			(deliveryNo,orderNo,deliveryDate,deliveryNum,deliveryMoney,arrivalDate,receiptDate,returnInfo)
		VALUES 
	        (#{deliveryNo},#{orderNo},#{deliveryDate},#{deliveryNum},#{deliveryMoney},#{arrivalDate},#{receiptDate},#{returnInfo})  
	</insert>
</mapper>